
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

    .purple {
      --background: 229 61% 100%;
      --foreground: 229 52% 2%;
      --muted: 199 21% 87%;
      --muted-foreground: 199 9% 29%;
      --popover: 229 61% 100%;
      --popover-foreground: 229 52% 2%;
      --card: 0 0% 99%;
      --card-foreground: 229 52% 1%;
      --border: 229 15% 95%;
      --input: 229 15% 95%;
      --primary: 229 96% 59%;
      --primary-foreground: 0 0% 100%;
      --secondary: 199 96% 59%;
      --secondary-foreground: 0 0% 0%;
      --accent: 259 96% 59%;
      --accent-foreground: 0 0% 100%;
      --destructive: 15 82% 27%;
      --destructive-foreground: 15 82% 87%;
      --ring: 229 96% 59%;
      --radius: 0.5rem;
    }
  
    .darkpurple {
      --background: 229 55% 4%;
      --foreground: 229 20% 98%;
      --muted: 199 21% 13%;
      --muted-foreground: 199 9% 71%;
      --popover: 229 55% 4%;
      --popover-foreground: 229 20% 98%;
      --card: 229 55% 5%;
      --card-foreground: 229 20% 99%;
      --border: 229 15% 12%;
      --input: 229 15% 12%;
      --primary: 229 96% 59%;
      --primary-foreground: 0 0% 100%;
      --secondary: 199 96% 59%;
      --secondary-foreground: 0 0% 0%;
      --accent: 259 96% 59%;
      --accent-foreground: 0 0% 100%;
      --destructive: 15 82% 46%;
      --destructive-foreground: 0 0% 100%;
      --ring: 229 96% 59%;
    }
  
}