@layer base{
  .a-h1 {
    @apply text-gray-800 dark:text-slate-100 font-medium lg:text-6xl md:text-5xl text-4xl tracking-tight inline-block bg-clip-text;
  }
}

.a-h1 {
  background-image: linear-gradient(273deg, rgba(4, 4, 4, 0) -76.6861%, rgb(4, 4, 4) 94.9047%);
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  .a-h1 {
    background-image: linear-gradient(273deg, rgba(255, 255, 255, 1) -4.9047%, rgba(255, 255, 255, 0) 150%);
    // background-image: linear-gradient(273deg, rgba(255, 255, 255, 0) -76.6861%, rgba(255, 255, 255, 1) 94.9047%);
    -webkit-text-fill-color: transparent;
  }
}